# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
/boto3/
/futures-3.2.0.dist-info/
/boto3-1.6.2.dist-info/
/six.py
/jmespath-0.9.3.dist-info/
/python_dateutil-2.6.1.dist-info/
/six-1.11.0.dist-info/
/dateutil/
/botocore-1.9.2.dist-info/
/s3transfer/
/botocore/
/s3transfer-0.1.13.dist-info/
/concurrent/
/docutils-0.14.dist-info/
/jmespath/
/docutils/
/boto/
/boto-2.48.0.dist-info/
/certifi/
/requests/
/chardet-3.0.4.dist-info/
/idna/
/idna-2.6.dist-info/
/chardet/
/requests-2.18.4.dist-info/
/certifi-2018.1.18.dist-info/
/urllib3-1.22.dist-info/
/urllib3/
